# Q1: Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
# Opening Browsers in Incognito using Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [2]:
# This function opens the naukri home page and searches for 'Data Analyst' and 'Bangalore'

def naukri(url):
    driver=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    # 1. first get the webpage https://www.naukri.com/
    driver.get(url)
    
    # 2. Enter “Data Analyst” in “Skill,Designations,Companies” field 
    job_search=driver.find_element_by_id('qsb-keyword-sugg')
    job_search.send_keys("Data Analyst")
    
    # and enter “Bangalore” in “enter the location” field 
    location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    location_search.send_keys("Bangalore")
 
    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(5)

    # 4. Then scrape the data for the first 10 jobs results you get.
    job_titles=[]
    title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
    for i in title_tags:
        job_titles.append(i.text)
    
    company_names=[]
    company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
    for i in company_tags:
        company_names.append(i.text)
        
    experience_list=[]
    exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
    for i in exp_tags:
        experience_list.append(i.text)
        
    salary_list=[]
    sal_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")[:10]
    for i in sal_tags:
        salary_list.append(i.text)
        
    locations_list=[]
    loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
    for i in loc_tags:
        locations_list.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['job_titles']=job_titles
    jobs['company_names']=company_names
    jobs['locations_list']=locations_list
    jobs['experience_list']=experience_list
    jobs['salary_list']=salary_list
    
    driver.close()
    return(jobs)

In [3]:
df=naukri('https://www.naukri.com/')
df

,job_titles,company_names,locations_list,experience_list,salary_list
0,Senior Data Analyst,Gaussian Networks Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-5 Yrs,Not disclosed
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru",6-11 Yrs,Not disclosed
2,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs,Not disclosed
3,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs,Not disclosed
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,Bangalore/Bengaluru,3-8 Yrs,Not disclosed
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",8-12 Yrs,Not disclosed
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,(WFH during Covid),6-11 Yrs,Not disclosed
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,"Chennai, Bangalore/Bengaluru",4-8 Yrs,Not disclosed
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,Bangalore/Bengaluru,4-9 Yrs,"10,00,000 - 20,00,000 PA."
9,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",6-8 Yrs,Not disclosed

# Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [4]:

! pip install selenium
import selenium
import pandas as pd
import numpy as np
!pip install webdriver-manager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys 
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from selenium) (1.24.2)
Requirement already satisfied: webdriver-manager in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (3.4.2)
Requirement already satisfied: requests in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from webdriver-manager) (2.22.0)
Requirement already satisfied: configparser in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from webdriver-manager) (5.0.2)
Requirement already satisfied: crayons in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from requests->webdriver-manager) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.8)
Requirement already satisfied: colorama in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from crayons->webdriver-manager) (0.4.1)

In [5]:
#let's connect to the webdriver

driver= webdriver.Chrome(r'C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe')

In [6]:
driver.get('https://www.naukri.com/')

In [7]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [8]:

search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [9]:
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [10]:
driver.get(url)

In [11]:
job_titles=[]
company_names=[]
location_list=[]
full_job_description=[]

In [12]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="619d0113-931a-44e6-9595-480055e9c09c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="1774dd68-3d49-4ede-a3c7-faaeca0ec76a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="e72e0d2a-e06a-4186-a4cf-caf8f78f87da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="fad5fada-dccb-4de8-9f76-153661918142")>]

In [13]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[0:4]

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist']

In [14]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="9882c7e7-0f0a-4d08-ab61-a2a436a70e07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="a9f3b573-cba7-4b98-9166-01e72a491774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="e7354158-ab0d-4ead-b7ec-b956e358bcae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="727dd02a-3f4a-488f-a5ab-5274d34dcdbf")>]

In [15]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
    
company_names[0:4]

['Tata Consultancy Services Ltd.',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'Brillio']

In [16]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="40b9955b-8973-4af2-b691-3d5d7562f3d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="240e9879-1e72-4221-9ec7-249e2281489d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="55afc9b6-c4f2-454d-a920-cb41fca6bdf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="043dcbba969ca0c694e48489f1d244d8", element="76cfaf43-d924-4bcd-a6be-bc645fa61f59")>]

In [17]:
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:4]

['Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
href1=[]

for elem in titles_tags:
    href = elem.get_attribute('href')
    if href is not None:
        href1.append(href)

In [19]:
href2=href1[0:10]
href2

['https://www.naukri.com/job-listings-hiring-for-data-scientist-tata-consultancy-services-chennai-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-110921000464?src=jobsearchDesk&sid=1631543662342285&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=1631543662342285&xp=2&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=1631543662342285&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-brillio-technologies-pvt-ltd-bangalore-bengaluru-3-to-8-years-130921905402?src=jobsearchDesk&sid=1631543662342285&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-i-ii-sharechat-bangalore-bengaluru-2-to-3-years-130921500157?src=jobsearchDesk&sid=1631543662342285&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921603395?src=jobsearchDesk&sid=1631543662342285&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921003393?src=jobsearchDesk&sid=1631543662342285&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=1631543662342285&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-6-to-10-years-090921501063?src=jobsearchDesk&sid=1631543662342285&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=1631543662342285&xp=10&px=1']

In [20]:
for i in href2:
    driver.get(i)
    job3=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for j in job3:
        dis=j.text.replace('\n', '')
    if dis==np.nan:
        dis.fillna(method='ffill')
    else:
        full_job_description.append(dis)

In [21]:
full_job_description

['Minumum 3 years of experience in Data Science/Machine learningLocation : PAN INDIAExp : 3 - 7 YearsMinimum 3 year of experience in being Applied Machine Learning Engineer roleResearch, develop, and implement prediction, optimization, and analytics tools.Document and communicate methodology and results to technical and non-technical audiencesGuide and implement best practices of curated data and evaluate ML models on large-scale dataLead design and implementation of Machine Learning algorithms, combining with rule-based optimization to deliver significant improvement inproduct metricsWrite production ready high quality, maintainable and scalable code.Design and analyze metrics to verify model and algorithm effectiveness.Experience with data analysis languages such as Python or ScalaExperience with Machine Learning tools (Azure ML, SageMaker, TensorFlow, Kubernetes, etc.)Experience with Machine Learning Languages (R, Python, .Net Core, etc.)',
 'Minumum 3 years of experience in Data Science/Machine learningLocation : PAN INDIAExp : 3 - 7 YearsMinimum 3 year of experience in being Applied Machine Learning Engineer roleResearch, develop, and implement prediction, optimization, and analytics tools.Document and communicate methodology and results to technical and non-technical audiencesGuide and implement best practices of curated data and evaluate ML models on large-scale dataLead design and implementation of Machine Learning algorithms, combining with rule-based optimization to deliver significant improvement inproduct metricsWrite production ready high quality, maintainable and scalable code.Design and analyze metrics to verify model and algorithm effectiveness.Experience with data analysis languages such as Python or ScalaExperience with Machine Learning tools (Azure ML, SageMaker, TensorFlow, Kubernetes, etc.)Experience with Machine Learning Languages (R, Python, .Net Core, etc.)',
 'Use predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomesWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.Selecting features, building and optimizing classifiers using machine learning and deep learning techniquesCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systemsProcessing, cleansing, and verifying the integrity of data used for analysisDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.Job Qualifications:Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product developmentExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etcHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-LearningStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalentExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.Proficiency in using query languages, such as SQL, PL/SQLHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.Good applied statistics skills, such as distributions, statistical testing, regression, etc.Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlinesA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science',
 'A day in the Life of Data Scientist at Brillio, you will:• Partner closely with project managers to deconstruct business problems of the client, develop data models and algorithms that deliver meaningful insights• Take ownership of whole end-to-end predictive modeling projects - from data processing, training, optimization to real-time monitoring and maintenance• Develop solutions to data driven problems, and communicate relevant insights to stakeholders through storyboards/presentations• Stay abreast with current technical and industry development and constantly strive to devise innovative statistical models for data analysis• Actively participate in external forums and industry conclavesFor you to be successful, you must:• Create value by meeting needs of stakeholders and delivering high-quality results• Open and flexible to accommodate and implement new ideas, understand business complexities, nurture innovation and challenge the status quo persistently• Strive to be subject matter expert in chosen area of specialty through continuous learning• Have an eye for detail to ensure accurate conclusions in data analysis and presentations. Disseminate knowledge and share own experiential learning with othersYou’ll bring this to the table:• Critical Thinking: ability to work in ambiguous situations with unstructured problems• Strong analytical skills with the ability to collect, organize, review significant amounts of information• Experience using statistical computer language Python to manipulate data and draw insights from large data sets.• Working knowledge in basic statistical concepts such as properties of distributions, statistical tests and their proper usage• Expertise in some of the advanced machine learning techniques such as Clustering, Regression/Classification, Time Series Analysis, Network Analysis, Popular Deep Learning architectures and theory, simulation, scenario analysis• Clear, professional written and verbal communication skills, ability to easily communicate complex ideas• Experience with any distributed data/computing tools: Map/Reduce, Hadoop, Hive, Spark, etc.• Experience with machine learning on Cloud.',
 'ResponsibilitiesApply state of the art in the relevant research domains to make significant contributions to the feature roadmap of the ShareChat app in the aforementioned areas.Apply expert coding skills to develop scalable product features in partnership with other engineers on app and infrastructure teamsApply best practices in big data processing to build feature stores, data pipelines, and model inference services that can deal with massive scale.Adapt deep learning algorithms to best exploit modern parallel environments (e.g. distributed clusters, GPUs). In the case of on-device applications, tune network architectures to efficiently run on low to medium end smartphones.QualificationsBTech, MS degree or Ph.D degree in Computer Science or a related disciplineExperience in deploying ML models with frameworks like Tensorflow, PyTorch, MXNet, Caffe, Torch, etc on Android and iOS devicesExcellent coding skills in C/C++ and JavaKnowledge of evolving and recent technologies in Android, IOS app development and different mobile compute and memory resources and sensorsAbility to build basic Android/iOS apps using NDK for Audio-Video capture and processing pipeline with basic UI features is neededExperience with multi threaded implementations utilizing computer units like multi core CPU, GPU, NPU, DSP and media encode/decide accelerators is a huge plus',
 "Must Have skill sets:Excellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.)4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / PythonProficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essentialGood to Have skill sets:Visualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is mustInsight Generation and Story telling to end consumersExperience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support)Self-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delightEducational Qualification:Any of the following:• Bachelors in Engineering / MCA• Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines• MBAJob Responsibilities:Own and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product managerUnderstand business requirements from Product Managers/Business UsersExtract data from multiple data sources using Hadoop / SQLDevelop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniquesPerform ad-hoc deep dive analysis and generate actionable insightsCreate technical documentation and provide post-production support for a time-bound periodCommunicate the results to technical as well as business stakeholders across different hierarchies",
 "Must Have skill sets:Excellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.)4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / PythonProficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essentialGood to Have skill sets:Visualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is mustInsight Generation and Story telling to end consumersExperience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support)Self-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delightEducational Qualification:Any of the following:• Bachelors in Engineering / MCA• Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines• MBAJob Responsibilities:Own and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product managerUnderstand business requirements from Product Managers/Business UsersExtract data from multiple data sources using Hadoop / SQLDevelop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniquesPerform ad-hoc deep dive analysis and generate actionable insightsCreate technical documentation and provide post-production support for a time-bound periodCommunicate the results to technical as well as business stakeholders across different hierarchies",
 "Must Have skill sets:Excellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.)4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / PythonProficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essentialGood to Have skill sets:Visualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is mustInsight Generation and Story telling to end consumersExperience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support)Self-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delightEducational Qualification:Any of the following:• Bachelors in Engineering / MCA• Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines• MBAJob Responsibilities:Own and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product managerUnderstand business requirements from Product Managers/Business UsersExtract data from multiple data sources using Hadoop / SQLDevelop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniquesPerform ad-hoc deep dive analysis and generate actionable insightsCreate technical documentation and provide post-production support for a time-bound periodCommunicate the results to technical as well as business stakeholders across different hierarchies",
 'As a Senior Data Scientist for Walmart, you ll have the opportunity to:Drive data-derived insights across a wide range of divisions by developing advanced statistical models, machine learning algorithms and computational algorithms based on business initiativesDirect the gathering of data, assessing data validity and synthesizing data into large analytics datasets to support project goalsUtilize big data analytics and advanced data science techniques to identify trends, patterns, and discrepancies in data. Determine additional data needed to support insightsBuild and train statistical models and machine learning algorithmsApply your semantic, natural language processing and understanding expertise where requiredUse deep learning and image recognition project goalsComputer Vision will be an important focus area for this roleProductionize the models and make those available at scaleBuild and maintain end to end Machine Learning pipelinesBe comfortable with ambiguity and uncertainty and the eagerness to change the world in a huge way by being a self-motivated learner and builderCommunicate recommendations to business partners and influencing future plans based on insightsYour ResponsibilityPlay a key role to solve complex problems, pivotal to Walmart s business and drive actionable insights from petabytes of dataUtilize product mindset to build, scale and deploy holistic data science products after successful prototypingDemonstrate incremental solution approach with agile and flexible ability to overcome practical problemsPartner with senior team members to assess customer needs and define business questionsClearly articulate and present recommendations to business partners, and influence future plans based on insightsWork with customer centric mindset to deliver high quality business driven analytic solutionDrive innovation in approach, method, practices, process, outcome, delivery, or any component of end-to-end problem solvingDemonstrates up-to-date expertise and applies this to the development, execution, and improvement of action plansPreferred QualificationsBachelors degree in Statistics, Mathematics, Computer Science or a related field and 8 years experience in an analytics/DS related field, or,Masters degree in Statistics, Mathematics, Computer Science or a related field and 6 years experience in an analytics/DS related field.High proficiency in data mining, modeling, validation and insight generation.Excellent working knowledge of statistics, mathematics, machine learning, data mining, deep learningHigh proficiency in coding including Python and SQLExperience with databases (for example, DB2, Oracle, SQL Server)Experience with Big Data technologies such as Pig, Hive and/or SparkAbility to work with large data sets. Has sound understanding of big data technology stackUnderstanding of cloud computing platforms and large-scale databasesProven ability to collaborate and work in teamsExcellent with communications and stakeholder engagementData science publications in recognized platforms/journalsProven ability to work in agile mode on data science sprint projects',
 'Responsibilities include:Defining and evaluating key metrics and understanding what moves them and whyOwnership of conceptualizing, developing, and maintaining dashboards and visualizationsInvestigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutionsCommunicating analyses and recommendations to cross functional stakeholders for decision makingEmpowering the team to answer data questions quickly and easily by building high-quality ground truth data setsHere are example traits we value:Professional industry experience in a quantitative analysis role (7+ years preferred)Comfortable in SQL and some experience with a programming language (Python or R a plus)Ability to communicate clearly and effectively to cross functional partners of varying technical levelsAbility to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insightsExperience or willingness to learn tools to create data pipelines using AirflowBuilding clear and easy to understand dashboards (Tableau) and presentations']

In [22]:
print(len(job_titles),len(company_names),len(location_list),len(full_job_description))

20 20 20 10

In [23]:
jobs=pd.DataFrame({})
jobs['job_titles']=job_titles[:10]
jobs['company_names']=company_names[:10]
jobs['location_list']=location_list[:10]
jobs['full_job_description']=full_job_description

In [24]:
jobs

,job_titles,company_names,location_list,full_job_description
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",Minumum 3 years of experience in Data Science/...
1,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,Minumum 3 years of experience in Data Science/...
2,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Use predictive modeling to increase and optimi...
3,Data Scientist,Brillio,Bangalore/Bengaluru,A day in the Life of Data Scientist at Brillio...
4,Data Scientist - I / II,Sharechat,Bangalore/Bengaluru,ResponsibilitiesApply state of the art in the ...
5,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Must Have skill sets:Excellent knowledge of va...
6,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Must Have skill sets:Excellent knowledge of va...
7,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,Must Have skill sets:Excellent knowledge of va...
8,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart, you ll..."
9,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,Responsibilities include:Defining and evaluati...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [25]:

import selenium
import pandas as pd
from selenium import webdriver
import time
# Opening Browsers in Incognito using Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [26]:
# This function opens the naukri home page and searches for 'Data Analyst' and 'Bangalore'

def naukri(url):
    driver=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    # 1. first get the webpage https://www.naukri.com/
    driver.get(url)
    
    # 2. Enter “Data Analyst” in “Skill,Designations,Companies” field 
    job_search=driver.find_element_by_id('qsb-keyword-sugg')
    job_search.send_keys("Data Scientist")
    
    # and enter “Bangalore” in “enter the location” field 
    location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    location_search.send_keys("Delhi/NCR")
 
    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(5)

    # 4. Then scrape the data for the first 10 jobs results you get.
    job_titles=[]
    title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
    for i in title_tags:
        job_titles.append(i.text)
    
    company_names=[]
    company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
    for i in company_tags:
        company_names.append(i.text)
        
    experience_list=[]
    exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
    for i in exp_tags:
        experience_list.append(i.text)
        
    salary_list=[]
    sal_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")[:10]
    for i in sal_tags:
        salary_list.append(i.text)
        
    locations_list=[]
    loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
    for i in loc_tags:
        locations_list.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['job_titles']=job_titles
    jobs['company_names']=company_names
    jobs['locations_list']=locations_list
    jobs['experience_list']=experience_list
    jobs['salary_list']=salary_list
    
    driver.close()
    return(jobs)

In [27]:
df=naukri('https://www.naukri.com/')
df

,job_titles,company_names,locations_list,experience_list,salary_list
0,Senior Data Scientist ( m / f / d ),Adidas Group,Gurgaon/Gurugram,5-10 Yrs,Not disclosed
1,Hiring For Manager and Sr. Manager | Data Scie...,Vision Beyond Resources India Private Limited,"Noida, Mumbai, New Delhi, Gurgaon/Gurugram, Ba...",8-13 Yrs,"20,00,000 - 35,00,000 PA."
2,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Ghaziabad, Faridabad, Delhi / NCR",0-0 Yrs,"2,25,000 - 4,75,000 PA."
3,Associate Vice President - Data Scientist - II...,Huquo Consulting Pvt. Ltd,Gurgaon/Gurugram,8-12 Yrs,Not disclosed
4,Sr Data Scientist,Superior Group,New Delhi,6-11 Yrs,Not disclosed
5,Sr. Data Scientist/Data Scientist,Pentair Water India Pvt Ltd,Noida,8-12 Yrs,"15,00,000 - 25,00,000 PA."
6,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru",2-7 Yrs,Not disclosed
7,Lead Data Scientist,Monotype Imaging,Noida,8-10 Yrs,Not disclosed
8,Lead Data Scientist,Monotype Imaging,Noida,8-10 Yrs,Not disclosed
9,Co-Founder & Principal Data Scientist/Senior S...,Benovymed Healthcare,"Gurgaon/Gurugram, Delhi / NCR",2-7 Yrs,Not disclosed

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. [Glassdoor]

In [28]:
!pip install selenium

import selenium
import pandas as pd
from selenium import webdriver
import time
# Opening Browsers in Incognito using Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

Requirement already satisfied: selenium in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dheerajkumar_pittala\appdata\local\continuum\anaconda3\lib\site-packages (from selenium) (1.24.2)

In [29]:
#let's connect to the webdriver

driver= webdriver.Chrome(r'C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe')

In [30]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [31]:
import pandas as pd
import os
from time import sleep
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By

In [32]:
CHROMEDRIVER_PATH = './chromedriver'
WINDOW_SIZE = "1920,1080"

In [33]:
# Comman function for init driver
def init_driver(url):
    driver = webdriver.Chrome(executable_path=CHROMEDRIVER_PATH)
    driver.maximize_window()
    driver.get(url)
    return driver

In [34]:
def wait_for_page_load(xpath_url):
    try:
        element_present = EC.presence_of_element_located((By.XPATH, xpath_url))
        WebDriverWait(driver, 5).until(element_present)
    except TimeoutException:
        print("Timed out waiting for page to load")
    except NoSuchElementException:
        print("Element not found")

In [35]:
email = 'imironman@mailinator.com'
password = 'rBrD33sjd7SamBv'

In [36]:
#let's connect to the webdriver

driver= webdriver.Chrome(r'C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe')

In [37]:
# init driver
driver.get('https://www.glassdoor.co.in/index.htm')

In [38]:
# we have to singin first before fetching jobs

wait_for_page_load('//article[@id="MainCol"]//li')    

# click on sign in 
driver.find_elements_by_xpath('//button[contains(@class,"LockedHomeHeaderStyles__signInButton")]')[1].click()

In [39]:
# pasting email and password
driver.find_element_by_xpath('//form[@name="emailSignInForm"]//input[@id="userEmail"]').send_keys(email)
driver.find_element_by_xpath('//form[@name="emailSignInForm"]//input[@id="userPassword"]').send_keys(password)

# click on sing in 
driver.find_element_by_xpath('//form[@name="emailSignInForm"]//button[@type="submit"]').click()

In [40]:
# add data to keyword field 
wait_for_page_load('//input[@id="sc.keyword"]')  

driver.find_element_by_xpath('//input[@id="sc.keyword"]').send_keys('Data Scientist')

In [41]:
# add data to location filed
driver.find_element_by_xpath('//input[@id="sc.location"]').send_keys(Keys.CONTROL + "a")
driver.find_element_by_xpath('//input[@id="sc.location"]').send_keys(Keys.DELETE)
driver.find_element_by_xpath('//input[@id="sc.location"]').send_keys('Noida')

In [42]:
# hit search 
driver.find_element_by_xpath('//button[@type="submit" and contains(@class,"search__SearchStyles__newSearchButton")]').click()

In [43]:
# wait for page load
wait_for_page_load('//article[@id="MainCol"]//li')    

# finding top 10 boxes 
all_box = driver.find_elements_by_xpath('//article[@id="MainCol"]//li')[:10]
    
final_data = []

# Ittrating over box to find details
for one_box in all_box:
    ago_posted = one_box.find_element_by_xpath('.//div[@data-test="job-age"]').text
    company_name = one_box.find_element_by_xpath('.//a[@data-test="job-link"]').text
    try:
        
        rating = one_box.find_element_by_xpath('.//span[contains(@class,"css-19pjha7")]').text 
    except:
        rating = ''
    
    
    final_data.append({
        'ago_posted':ago_posted,
        'company_name':company_name,
        'rating':rating,
    })
    
job_data = pd.DataFrame(final_data)
job_data

  ago_posted                                      company_name rating
0        19d                                    Data Scientist
1       30d+                          Associate Data Scientist
2       30d+                             Data Scientist Intern
3             Data Analytics part time job/internship at Noida
4         6d                                    Data Scientist
5       30d+                                    Data Scientist
6         5d                 Management Trainee – Data Science
7         5d                            Analyst – Data Science
8       30d+                                    Data Scientist
9       30d+                                    Data Scientist

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [44]:
import pandas as pd
import os
from time import sleep
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By

In [45]:
CHROMEDRIVER_PATH = './chromedriver'
WINDOW_SIZE = "1920,1080"

In [46]:
# Comman function for init driver
def init_driver(url):
    driver = webdriver.Chrome(executable_path=CHROMEDRIVER_PATH)
    driver.maximize_window()
    driver.get(url)
    return driver

In [47]:
def wait_for_page_load(xpath_url):
    try:
        element_present = EC.presence_of_element_located((By.XPATH, xpath_url))
        WebDriverWait(driver, 5).until(element_present)
    except TimeoutException:
        print("Timed out waiting for page to load")
    except NoSuchElementException:
        print("Element not found")

In [48]:
email = 'imironman@mailinator.com'
password = 'rBrD33sjd7SamBv'

In [49]:
#let's connect to the webdriver

driver= webdriver.Chrome(r'C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe')

In [50]:
#going to salary page
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [51]:
# add data to keyword field 
driver.find_element_by_xpath('//input[@id="KeywordSearch"]').send_keys('Data Scientist')

In [52]:
# add data to location filed
driver.find_element_by_xpath('//input[@id="LocationSearch"]').clear()
driver.find_element_by_xpath('//input[@id="LocationSearch"]').send_keys('Noida')

In [53]:
# hit search 
driver.find_element_by_xpath('//button[@id="HeroSearchButton"]').click()

In [54]:
# wait for page load
wait_for_page_load('//div[@id="nodeReplace"]//div[@class="py css-17435dd"]')    

# finding top 10 boxes 
all_box = driver.find_elements_by_xpath('//div[@id="nodeReplace"]//div[@class="py css-17435dd"]')[:10]
    
final_data = []


# Ittrating over box to find details
for one_box in all_box:
    min_salary = one_box.find_elements_by_xpath('.//p')[0].text
    max_salary = one_box.find_elements_by_xpath('.//p')[1].text
    average_salary = one_box.find_elements_by_xpath('.//h3')[1].text
    company_name = one_box.find_elements_by_xpath('.//h3')[0].text
    rating = one_box.find_element_by_xpath('.//span').text
    
    
    final_data.append({
        'min_salary':min_salary,
        'max_salary':max_salary,
        'average_salary':average_salary,
        'company_name':company_name,
        'rating':rating,

    })
    
job_data = pd.DataFrame(final_data)
job_data

Timed out waiting for page to load

  min_salary max_salary average_salary               company_name rating
0        ₹4L       ₹13L      ₹6,28,021  Tata Consultancy Services    3.9
1        ₹1L       ₹28L      ₹9,08,246                        IBM    3.9
2        ₹6L       ₹23L     ₹11,93,390                  Accenture    4.1
3        ₹5L       ₹1Cr     ₹12,49,716                  Delhivery    3.7
4        ₹4L       ₹17L      ₹7,58,335         Ericsson-Worldwide      4
5        ₹8L       ₹16L     ₹12,80,000         UnitedHealth Group    3.7
6        ₹8L       ₹20L     ₹12,70,000                      Optum    3.7
7       ₹10L       ₹18L     ₹14,55,430     Optum Global Solutions
8        ₹5L       ₹15L      ₹8,86,064         Valiance Solutions    4.2
9        ₹6L       ₹16L     ₹11,10,000                EXL Service    3.6

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price
Discount %

In [55]:
def flipkart_100(url):
    driver=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sunglasses')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    jobs['discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [56]:
df=flipkart_100('https://www.flipkart.com/')
df

,brand,des,price,discount
0,AISLIN,"UV Protection, Gradient Wayfarer, Clubmaster S...",₹525,65% off
1,GANSTA,UV Protection Aviator Sunglasses (57),₹284,85% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
96,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
97,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹319,84% off
98,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498,67% off
99,ROYAL SON,UV Protection Retro Square Sunglasses (49),₹664,66% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [57]:
def flipkart_reviews(url):

    driver_1 = webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    driver_1.get(url)
    
    # Opening full reviews
    full=driver_1.find_element_by_xpath("//div[@class='col JOpGWq']/a")
    driver=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    url=full.get_attribute('href')
    driver.get(url)
    driver_1.close()
       
    rating=[]
    review_summary=[]
    full_review=[]
    
    def extract(driver):
                
        a=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in a:
            rating.append(i.text)

        a=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in a:
            review_summary.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for i in a:
            full_review.append(i.text)
    
    while(len(full_review)<10):
        extract(driver)
        
    while(len(full_review)<100):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
        url=next.get_attribute('href')
        driver.get(url)
        extract(driver)  
    
    jobs=pd.DataFrame({})
    jobs['rating']=rating
    jobs['review_summary']=review_summary
    jobs['full_review']=full_review
    
    driver.close()

    return(jobs)

In [58]:
df=flipkart_reviews('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
df

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
97,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Worth every penny,It’s been almost a month since I have been usi...
99,5,Terrific,Really worth of money. i just love it. It is t...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :

Brand
Product Description
Price
discount %

In [59]:
def flipkart_100_sneakers(url):
    driver = webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sneakers')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    jobs['discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [60]:
df=flipkart_100_sneakers('https://www.flipkart.com/')
df

,brand,des,price,discount
0,ALBERTO TORRESI,Loafers For Men,"₹1,499",74% off
1,ALBERTO TORRESI,Corporate Casuals For Men,"₹1,709",68% off
2,ALBERTO TORRESI,Casuals For Men,"₹1,529",72% off
3,ALBERTO TORRESI,Men's Faso Brown Formal Slip-ons Casuals For Men,"₹1,709",65% off
4,Venticello,Designer Formal Brogues Brogues For Men,₹890,64% off
...,...,...,...,...
95,Zsyto,Sneakers For Men,₹398,69% off
96,HOC,Luxury Fashionable Breathable Casual Sneakers ...,₹398,80% off
97,WRIZT,"Casual Sneakers,dancing, walking Sneakers For Men",₹299,70% off
98,Carlo Style,Mens Canvas Shoes for boys (Black) Sneakers Fo...,₹380,61% off
99,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹215,64% off

# Q9: Go to the link - https://www.myntra.com/shoes

#Set Price filter to “Rs. 6649 to Rs. 13099” [Actual Value for this search = Rs. 7649 to Rs. 15099] , Color filter to “Black”

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [61]:
def myntra(url):
    driver = webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    driver.get(url)

    # Adding required filters
    # [Actual Value for this search = Rs. 7649 to Rs. 15099]
    price=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
    price.click()
    time.sleep(5)
    
    color=driver.find_element_by_xpath("//li[@class='colour-listItem']/label/div")
    color.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    
    def extract_2(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")[:number]
        for i in a:
            price.append(i.text)

    
    while(len(price)<50):
        extract_2(driver,50)
        
    while(len(price)<100):
        next=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
        driver_2=webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
        url=next.get_attribute('href')
        driver_2.get(url)
        extract_2(driver_2,50) 
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    
    driver.close()
    driver_2.close()
    
    return(jobs)

In [62]:
df=myntra('https://www.myntra.com/shoes')
df

                   brand                                des             price
0                   Puma     Men BlackTraining or Gym Shoes          Rs. 6999
1                   Puma     Men Cell Fraction Fade Running          Rs. 6999
2                   Geox       Men Printed Slip-On Sneakers         Rs. 10999
3           Hush Puppies  Men Solid Leather Formal Slip-Ons  Rs. 8099Rs. 8999
4           Hush Puppies  Men Solid Leather Formal Slip-Ons  Rs. 8999Rs. 9999
..                   ...                                ...               ...
95                 Ruosh     Men Solid Leather Formal Monks          Rs. 8990
96  Heel & Buckle London                Women Leather Pumps  Rs. 7192Rs. 8990
97       PUMA Motorsport        Unisex Mercedes F1 Sneakers          Rs. 7999
98                  Puma       Unisex Pacer Future Sneakers          Rs. 6999
99                  Puma       Unisex Mirage Sport Trainers          Rs. 8999

[100 rows x 3 columns]

Please Note: The Price option available on the web page was "Rs. 7649 to Rs. 15099" after the search, so results may vary

# Q10: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [63]:
def amazon(url):
    driver = webdriver.Chrome(r"C:\Users\dheerajkumar_pittala\DataPy\Browserdrivers\chromedriver.exe")
    driver.get(url)
    
    search_box=driver.find_element_by_id('twotabsearchtextbox')
    search_box.send_keys('laptop')

    button=driver.find_element_by_xpath("//div[@class='nav-right']")
    button.click()
    time.sleep(5)

    cpu_1=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i7']/span/a/div")
    cpu_1.click()

    from selenium.common.exceptions import StaleElementReferenceException        # Importing Exception
    from selenium.webdriver.support.ui import WebDriverWait
    from selenium.webdriver.support import expected_conditions as EC
    from selenium.webdriver.common.by import By

    try:
        cpu_2=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i9']/span/a/div")
        cpu_2.click()
    except StaleElementReferenceException as e:
        driver.get('https://www.amazon.in/')
        search_box=driver.find_element_by_id('twotabsearchtextbox')
        search_box.send_keys('laptop')
        button=driver.find_element_by_xpath("//div[@class='nav-right']")
        button.click()
        WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, 'filters')))
        cpu_2=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i9']/span/a/div")
        cpu_2.click()
    
    title=[]

    a=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[:10]
    for i in a:
        title.append(i.text)

    rating=[]

    a=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span/span/a/i/span")[:10]
    for i in a:
        rating.append(i.text)

    price=[]

    a=driver.find_elements_by_xpath("//span[@class='a-price-whole']")[:10]
    for i in a:
        price.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['title']=title
    jobs['rating']=rating
    jobs['price']=price
    
    driver.close()
    return(jobs)

In [64]:
df=amazon('https://www.amazon.in/')
df

                                               title rating     price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...         1,23,350
1  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...           95,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...           57,990
3  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....           77,990
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...           85,990
5  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...           84,990
6  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...           92,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....         1,07,990
8  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           98,500
9  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...         1,13,990