In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd # Importing the required libraries
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

This is a list of 31 cities for which I will be scrapping the car data:

In [2]:
cities = ['Rohtak','Panipat','Delhi','Mumbai','Pune','Bengaluru','Hyderabad','Chennai','Kolkata','Ahmedabad','Surat','Bhopal', 'Chandigarh','Nasik','Rajkot','Jaipur','Ludhiana','Meerut','Mysore','Vadodara','Kochi','Lucknow',
'Gurgaon','Noida','Ghaziabad','Nagpur','Panipat','Indore','Sonipat','Faridabad','Zirakpur']

In [3]:
len(cities)

31

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=5&pinId=122001")

time.sleep(2) # Going to link

Maximising the opened window as sometimes there is an error other wise.

In [6]:
driver.set_window_size(1024, 600)
driver.maximize_window()

The following xpath opens up the location prompt; we click it to select the next location.

In [7]:
selection = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/div/div/div[1]/p")
selection.click()

A basic function which will take the text element from the scraped web element and append it to a list.

In [8]:
def append(path,list_): # This is a function I have created which will be used throughout the assignment to not repeat same piece of code again and again
    for i in path:
        list_.append(i.text)   # This function basically iterates the text from each element from seleenium driver and appends it to the list provided

This function will be used to scroll down to the bottom of a page; as Cars24 uses infinite scrolling this will be useful.

In [9]:
def scroll_down():
    for i in range(32):
        driver.execute_script("window.scrollTo(0, 1299999)") 
        time.sleep(0.5)

Initiating lists to which I will append the data.

In [10]:
urls = []
car_name = []
car_transmission = []
car_variant = []
car_mileage = []
car_owner = []
car_fuel = []
car_price = []

car_city = []

In [11]:
for city in cities:
    
    search_bar = driver.find_element_by_xpath("//div[@class='_6QaMX']/input") # Goes to the search bar for location
    search_bar.send_keys(Keys.CONTROL, 'a')                                   # Clear previous entry
    search_bar.send_keys(Keys.BACKSPACE)
    search_bar.send_keys(city)                                                # Type in one city name from the list (loop next)
    time.sleep(1)
    
    try:
        to_click = driver.find_element_by_xpath("//ul[@class='_16Bvy']/li")      # Select city
    except:
        to_click = driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/div/div/ul/div/li") # Select city
        
    to_click.click() # Click city
        
    time.sleep(2)
    print(city) # For conformation, that city is selected properly
    scroll_down()
    
       
    links = driver.find_elements_by_xpath("//a[@class='_9Ue0B']")
    names = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/h2")
    transmissions = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p/span")
    variants = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p")
    mileage = driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]")         # Various xpaths for the data we need
    owner = driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]")           # to collect about the cars
    fuel = driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]")            # Self explanatory names
    price = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div/span")    
    
    for url in links:
        urls.append(url.get_attribute('href'))
    
    append(names,car_name)
    append(transmissions,car_transmission)
    append(variants,car_variant)
    append(mileage,car_mileage)
    append(owner,car_owner)             # Append all data to list 
    append(fuel,car_fuel)
    append(price,car_price)
    
    print(len(links),len(names),len(transmissions),len(variants),len(mileage),len(owner),len(fuel),len(price))
    # To confirm that all data is of same length
    
    length_cur = len(names)  
    
    for i in range(length_cur): # Adding list with city name; it has equal amount of data as other collected data 
        car_city.append(city)   # for that specific city

    
    selection = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/div/div/div[1]/p")
    selection.click()           # After data collection, to select next city

Rohtak
216 216 216 216 216 216 216 216
Panipat
219 219 219 219 219 219 219 219
Delhi
223 223 223 223 223 223 223 223
Mumbai
434 434 434 434 434 434 434 434
Pune
434 434 434 434 434 434 434 434
Bengaluru
278 278 278 278 278 278 278 278
Hyderabad
78 78 78 78 78 78 78 78
Chennai
238 238 238 238 238 238 238 238
Kolkata
128 128 128 128 128 128 128 128
Ahmedabad
301 301 301 301 301 301 301 301
Surat
301 301 301 301 301 301 301 301
Bhopal
26 26 26 26 26 26 26 26
Chandigarh
158 158 158 158 158 158 158 158
Nasik
59 59 59 59 59 59 59 59
Rajkot
18 18 18 18 18 18 18 18
Jaipur
273 273 273 273 273 273 273 273
Ludhiana
158 158 158 158 158 158 158 158
Meerut
212 212 212 212 212 212 212 212
Mysore
0 0 0 0 0 0 0 0
Vadodara
254 254 254 254 254 254 254 254
Kochi
116 116 116 116 116 116 116 116
Lucknow
36 36 36 36 36 36 36 36
Gurgaon
223 223 223 223 223 223 223 223
Noida
223 223 223 223 223 223 223 223
Ghaziabad
223 223 223 223 223 223 223 223
Nagpur
72 72 72 72 72 72 72 72
Panipat
72 72 72 72 72 72 72 72
Indore
120 120 120 120 120 120 120 120
Sonipat
3 3 3 3 3 3 3 3
Faridabad
223 223 223 223 223 223 223 223
Zirakpur
158 158 158 158 158 158 158 158

In [12]:
time.sleep(2)
close_but = driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/h3/div") # Close after all data is collected
close_but.click()

In [13]:
c24_df = pd.DataFrame({}) # Initiating empty data frame

c24_df['Name'] = car_name
c24_df['Transmission type'] = car_transmission 
c24_df['Variant'] = car_variant 
c24_df['Mileage'] = car_mileage 
c24_df['Owned'] = car_owner 
c24_df['Fuel type'] = car_fuel 
c24_df['City'] = car_city 
c24_df['Price'] = car_price

In [14]:
c24_df.head() # Probing first 5 elements of the data frame

,Name,Transmission type,Variant,Mileage,Owned,Fuel type,City,Price
0,2017 Maruti Swift,Manual,VDI ABS Manual,"69,894 km",1st Owner,Diesel,Rohtak,"₹4,74,699"
1,2017 Maruti Wagon R 1.0,Manual,VXI Manual,"20,685 km",2nd Owner,Petrol,Rohtak,"₹3,56,699"
2,2019 Maruti Vitara Brezza,Manual,VDI Manual,"31,245 km",1st Owner,Diesel,Rohtak,"₹7,98,699"
3,2014 Maruti Swift,Manual,VDI Manual,"71,450 km",2nd Owner,Diesel,Rohtak,"₹3,30,599"
4,2013 Maruti Ertiga,Manual,VDI ABS Manual,"39,487 km",1st Owner,Diesel,Rohtak,"₹4,91,299"

In [15]:
c24_df.tail() # Probing bottom 5 elements of the data frame

,Name,Transmission type,Variant,Mileage,Owned,Fuel type,City,Price
5472,2016 Maruti Swift Dzire,Manual,VDI ABS Manual,"39,042 km",2nd Owner,Diesel,Zirakpur,"₹5,28,299"
5473,2013 Maruti Swift Dzire,Manual,ZDI Manual,"1,03,531 km",2nd Owner,Diesel,Zirakpur,"₹3,86,599"
5474,2016 Hyundai Grand i10,Manual,ASTA 1.2 (O) VTVT Manual,"22,387 km",1st Owner,Petrol,Zirakpur,"₹4,36,499"
5475,2016 Maruti Vitara Brezza,Manual,ZDI PLUS Manual,"69,990 km",1st Owner,Diesel,Zirakpur,"₹7,42,199"
5476,2017 Hyundai Grand i10,Manual,ASTA 1.2 KAPPA VTVT Manual,"44,147 km",1st Owner,Petrol,Zirakpur,"₹4,94,599"

In [16]:
c24_df.to_csv('car_data.csv') # Saving the dataframe as .csv

In [17]:
driver.quit()

# Data collection phase complete

In [18]:
df = pd.read_csv("car_data.csv", index_col = 'Unnamed: 0') # Importing the data
pd.set_option('display.max_columns', 500)
df

,Name,Transmission type,Variant,Mileage,Owned,Fuel type,City,Price
0,2017 Maruti Swift,Manual,VDI ABS Manual,"69,894 km",1st Owner,Diesel,Rohtak,"₹4,74,699"
1,2017 Maruti Wagon R 1.0,Manual,VXI Manual,"20,685 km",2nd Owner,Petrol,Rohtak,"₹3,56,699"
2,2019 Maruti Vitara Brezza,Manual,VDI Manual,"31,245 km",1st Owner,Diesel,Rohtak,"₹7,98,699"
3,2014 Maruti Swift,Manual,VDI Manual,"71,450 km",2nd Owner,Diesel,Rohtak,"₹3,30,599"
4,2013 Maruti Ertiga,Manual,VDI ABS Manual,"39,487 km",1st Owner,Diesel,Rohtak,"₹4,91,299"
...,...,...,...,...,...,...,...,...
5472,2016 Maruti Swift Dzire,Manual,VDI ABS Manual,"39,042 km",2nd Owner,Diesel,Zirakpur,"₹5,28,299"
5473,2013 Maruti Swift Dzire,Manual,ZDI Manual,"1,03,531 km",2nd Owner,Diesel,Zirakpur,"₹3,86,599"
5474,2016 Hyundai Grand i10,Manual,ASTA 1.2 (O) VTVT Manual,"22,387 km",1st Owner,Petrol,Zirakpur,"₹4,36,499"
5475,2016 Maruti Vitara Brezza,Manual,ZDI PLUS Manual,"69,990 km",1st Owner,Diesel,Zirakpur,"₹7,42,199"
5476,2017 Hyundai Grand i10,Manual,ASTA 1.2 KAPPA VTVT Manual,"44,147 km",1st Owner,Petrol,Zirakpur,"₹4,94,599"